
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bulma
@import '~bulma/bulma';

.padded-container {
    padding-top: 2rem;
}

html, body {
    height: 100%;
    background-color: #efefef;
}

.feed-section {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.is-padded-top {
    padding-top: 0.5rem;
}

.submit-button {
    overflow: hidden;
}

.image-preview {
    padding-bottom: 0.5rem;

    img {
        display: table;
        margin: 0 auto;
    }
}

.like-section {
    font-size: 0.8rem;

    span {
        padding-left: 0.5rem;
    }

    i {
        font-size: 1.2rem;
        cursor: pointer;

        &.like {
            color: green;
        }

        &.dislike {
            color: red;
        }
    }
}

.navbar-brand .navbar-item {
    font-weight: bold;
}

.create-group-form {
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.group-row {
    margin-top: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    border: 2px solid $primary;

    .group-name {
        text-transform: uppercase;
    }

    .group-join {
        text-align: right;
    }
}

.group-members {
    margin-top: 1rem;
    padding: 1rem;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.group-members-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        float: left;
        width: 20%;
    }
}
